.btn-primary {
	background-color: #302a58;
	border-color: #302a58;
}
.panel-body-primary {
	background-color: #302a58;
	border-color: #302a58;
}
.col-button-colors .btn,
.col-button-icons .btn {
    min-width: 100px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.col-button-sizes .btn {
    margin-bottom: 10px;
}

.col-button-dropdowns .btn-group {
    margin-right: 5px;
    margin-bottom: 10px;
}

.col-button-toggle .iriy-example {
    margin-top: 10px;
}

.btn-block + .btn-block {
    margin-top: 8px;
}

.tooltips-popovers-examples .btn {
    margin-right: 5px;
    margin-bottom: 10px;
}

.progress-examples .progress {
    margin-bottom: 22px;
}

.the-icon-list .the-icon-hover a {
    border-radius: 4px;
    color: #555;
    display: block;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.the-icon-list .the-icon-hover a:hover {
    color: #000;
}

.the-icon-list .the-icon-hover a:hover .text-muted {
    color: #666;
}

.the-icon-list .the-icon-hover a .fa,
.the-icon-list .the-icon-hover a .gi {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    text-align: right;
    width: 32px;
}

.the-icon-list .the-icon-hover a:hover .fa {
    font-size: 28px;
    vertical-align: -6px;
}

.the-icon-list .the-icon-hover a:hover .gi {
    font-size: 28px;
    vertical-align: -7px;
}

.knob-examples {
    margin-bottom: 20px;
}

.mini-chart-examples .mini-chart {
    margin-bottom: 15px;
}

.mini-chart-examples .mini-chart .chart {
    width: 50px;
    text-align: center;
}

.mini-chart-examples .mini-chart .chart-details {
    width: 90px
}

.sidebar-default {
	background-color: #302a58;
}

.sidebar-default a {
	color: #f9f9f9;
}

.sidebar-condensed .sidebar-default .nav>li.active>a,
.sidebar-condensed .sidebar-default .nav>li.active>a:focus,
.sidebar-condensed .sidebar-default .nav>li.active>a:hover,
.sidebar-default .nav>li.active>a, .sidebar-default .nav>li.active>a:focus,
.sidebar-default .nav>li.active>a:hover {
	background-color: #5575c6;
}

.body-sign-in {
	/*background-color: #5575c6;*/
	background-color: #302a58;
}

.body-sign-in .form-container,
.body-sign-up .form-container {
	margin-top: 90px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #5575c6;
	border-color: #5575c6;
}
.panel-primary>.panel-heading,
.panel-primary>form>.panel-heading {
	background-color: #5575c6;
	border-color: #5575c6;
}
.btn-info {
    background-color: #5575c6;
    border-color: #5575c6;
}
td.status .label {
    width: 90px;
}
@media (max-width: 840px) {
    #navbar-buy-theme {
        display: none;
    }
}
